.jumbotron{
    text-align: center;
    margin: auto;
    padding: 15px;
    color: #e9d8a6;
    background-color: #9b2226;
    }


  
.navbar{
    background-color:#e9d8a6;

}

.container{
text-align: center;
margin: auto;
padding-top: 30px;
}


.containerpic{
    width: max-content;
    padding-top: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;

}
img{
    max-width: auto;
    height: 200px;
}

#mainphoto{
width: 800px;
height: auto;

}

.containerform{
    padding: 30px;
    margin: auto;
    width: 600px;
    height: auto;
}

.error{
    color: red;
    font-size: small;
}
.button{
    background-color: #9b2226;
    color: #e9d8a6;
    border-radius: 5px;
}

